@font-face {
  font-family: 'Mona';
  src: url('./fonts/Mona-Sans.woff');
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Mona', Helvetica, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}